<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <h3>Bienvenido a JEA</h3>
        <ul>
                <li><a href="/usuarios/listado">Listado de usuarios</a></li>
                <li><a href="/articulos/listado">Listado de artículos</a></li>
                <li><a href="/categorias/listado">Listado de categorias</a></li>
            </ul>
    </body>
</html>
